/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

html {
    background-image: url("../img/background.jpg");
    background-size: cover;
}
html, body {
    height: 100%;
}

form {
    height: 120px;
    margin: -60px auto 0 auto;
    position: relative;
    top: 50%;
    width: 317px;
}
.lockFrame {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background: #fff;
}
.lock {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 10px;
    background-image: url(../img/lock.png);
    background-color: #FFCF73;
}
.inputFields {
    padding-left: 100px;
    padding-top: 29px;
}
.input {
    background-color: #fff;
    padding: 8px 8px 8px 30px;
    height: 15px;
    width: 120px;
}
.input input[type='text'],
.input input[type='password'] {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 15px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.input input:focus,
.inputButton:focus {
    outline: none;
}
.inputData {
    float: left;
}
.inputButton {
    height: 62px;
    background-color: #fff;
    border: 0;
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
}
